.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Welcome-tagline {
  font-family: "Trebuchet MS";
  color: red;
}

.team-page-header {
  font-family: "Trebuchet MS";
  margin-top: 50px;
  vertical-align: bottom;
  padding-left: 25px;
  font-size: 50px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.td {
  text-align: center;
  vertical-align: middle;
}

.card {
  margin-top: 75px;
  vertical-align: middle;
  justify-content: flex-start;
}

.card-title {
  font-family: "Trebuchet MS";
  font-weight: bold;
}

.card-text {
  font-family: "Trebuchet MS";
  font-size: 13pt;
}

.card-img-cust {
  height: 75%;
  width: 100%;
}

.team-name {
  font-family: "Trebuchet MS";
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.team-pic-table {
  width: 75px;
  height: 50px;
}

.team-table {
  border-collapse: collapse;
  margin: 20px;
  min-width: 250px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.team-table thead tr {
  background-color: #d9534f;
  color: white;
  text-align: center;
}

.team-table th,
.team-table td {
  padding: 5px 10px;
  min-width: 200px;
}

.team-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.team-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.team-table tbody tr:last-of-type {
  border-bottom: 2px solid navy;
}

.nav-link {
  font-weight: bold;
  color: white;
  font-family: "Trebuchet MS";
}

.welcome-btn {
  width: 75%;
  justify-content: center;
}

.App-header {
  background-color: white;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
